<div class="main-container relative overflow-hidden">
    <!-- Home Section -->
    <div class="relative h-screen bg-cover bg-center bg-no-repeat overflow-hidden HomeTop">
        <div class="flex flex-col items-center justify-center px-2 md:px-8 h-full transition-colors duration-500 bg-black bg-opacity-60 dark:bg-opacity-65 text-white">
            <div class="pt-32 md:pt-8">
                <div class="container md:flex flex-row items-center p-2">
                    <div class="hidden md:block md:w-1/4 float-left md:pl-16 ml-4 mb-2">
                        <img src="images/sneks/Ghosta.png" alt="Snek ghosta" 
                            class="mb-2 w-24 md:w-52 h-auto transform scale-125 -rotate-12 -translate-x-6 -scale-x-125">
                    </div>
                    <div class="md:w-3/4">
                        <h2 class="text-3xl md:text-4xl font-bold mb-3">Hey!</h2>
                        <h3 class="text-2xl md:text-3xl font-bold mb-3">I'm <span class="text-purple-500 dark:text-violet-500">Roland Moons</span>,</h3>
                        <p class="text-lg md:text-xl mb-8">
                            A passionate developer focused on creating impactful software solutions.<br/>
                            With experience in various programming languages and frameworks, I excel at bringing ideas to life through code.<br/>
                            My love for technology is matched by my interests in electronics and music, which inspire my creativity and problem-solving skills.<br/>
                            I like to develop software that not only solves problems but is also fun to use.<br/>
                        </p>
                        <app-anchor-button routerLink="/Projects">View My Work</app-anchor-button>
                    </div>
                </div>
            </div>
            <svg class="arrows mt-5" (click)="scrollToSection(about)">
                <path class="a1" d="M0 0 L30 32 L60 0" stroke="white" stroke-width="2"></path>
                <path class="a2" d="M0 20 L30 52 L60 20" stroke="white" stroke-width="2"></path>
                <path class="a3" d="M0 40 L30 72 L60 40" stroke="white" stroke-width="2"></path>
            </svg>
        </div>
        <div class="absolute bottom-0 right-0 p-2 text-white text-xs bg-black bg-opacity-50 rounded-tl-lg">
            Background by mom
        </div>
    </div>

    <!--Educational history section-->
    <div #about class="dark:bg-gray-800">
        <div class="container mx-auto">
            <div class="pt-8 px-8">
                <h2 class="text-3xl md:text-4xl md:pl-4 pl-2 pb-2 font-bold">Educational History</h2>
                <hr class="w-80 md:w-96 h-1 bg-purple-500 dark:bg-violet-500 border-0 rounded md:my-4 ">
            </div>
            <div class="px-8 md:px-16 flex flex-col md:flex-row items-center">
                <div class="md:w-3/4">
                    <h2 class="text-2xl md:text-4xl font-bold">Application Development</h2>
                    <h3 class="text-gray-500 text-xl md:text-2xl font-bold mb-3">Thomas More: De Nayer</h3>
                    <p class="text-lg md:text-xl">
                        This program focuses on equipping students with the skills needed for app and software development. 
                        We learn how to efficiently create reliable applications 
                        and manage both Windows- and Linux-clients en -servers.
                        As you progress, you'll enhance your design and programming skills, 
                        with an emphasis on optimizing multicore and GPU systems. 
                        The program provides access to modern computer and network infrastructure, 
                        preparing you for roles such as app developer or full-stack developer.
                    </p>
                    <app-anchor-button target="_blank" href="https://thomasmore.be/nl/opleidingen/professionele-bachelor/elektronica-ict/application-development/sint-katelijne-waver/basistraject">Thomas More</app-anchor-button>
                </div>
                <div class="md:w-1/4 hidden md:flex justify-center md:justify-end my-8 md:mt-0">
                    <img src="images/sneks/Lammy.png" alt="Snek Lammy" class="w-64 h-auto transform -translate-y-12 scale-125">
                </div>
            </div>
        </div>
    </div>

    <!--My Ambitions history-->
    <h2 class="pt-4 pb-2 text-3xl md:text-4xl font-bold text-center">My Ambitions</h2>
    <hr class="w-80 md:w-96 h-1 mx-auto bg-purple-500 dark:bg-violet-500 border-0 rounded md:my-4 ">

    <div class="container mx-auto px-8 md:px-16 flex flex-col md:flex-row items-center">
        <div class="md:w-1/4 hidden md:flex justify-center md:justify-end mt-8 md:mt-0">
            <img src="images/sneks/Yui.png" alt="Snek ghosta" class="w-64 h-auto transform scale-125 -translate-x-16 -translate-y-12 -rotate-12 -scale-x-125">
        </div>
        <div class="md:w-3/4">
            <p class="text-lg md:text-xl my-4">
                Ever since I was a child, I’ve been fascinated by technology and how things work.
                I spent hours building with LEGO Technic’s, developing my passion for technology and problem solving.
                While other kids played with their toys, I was more interested in taking them apart to understand their inner workings.
                This curiosity never faded—instead, it evolved.

                With access to more advanced tools like a 3D printer, laser engraver, etc.
                I now bring my ideas to life in new ways.
                Over time, my interest in computers naturally led me to programming, 
                where I discovered an entirely new way to create and innovate. 
                Coding became an extension of my curiosity, allowing me to build software just as I once built physical models.
                
                Beyond technology, I also enjoy playing guitar, further fueling my appreciation for coding, or experimenting with new tech, 
                I’m always eager to learn, build, and innovate.<br/>
                So make sure to check out my favourite projects
            </p>
            <app-anchor-button routerLink="/Projects">View My Work</app-anchor-button>
        </div>        
    </div>
</div>
