<div class="relative overflow-hidden mb-16">
  <!--My projects top header-->
  <div class="shadow-xl bg-gradient text-white">
    <div class="container pt-16 mx-auto">
      <div class="pt-8 px-8">
        <h2 class="text-3xl md:text-4xl pl-4 font-bold">My Projects</h2>
        <hr class="w-96 h-1 bg-purple-500 dark:bg-violet-500 border-0 rounded md:my-4 ">
      </div>
      <div class="px-8 md:px-16 flex flex-col md:flex-row items-center">
        <div class="md:w-3/4 self-start">
          <p class="text-lg md:text-xl self-start mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nisi interdum, rutrum odio auctor, gravida
            ipsum. Sed malesuada libero nisi, a fermentum sem pulvinar vitae. Sed ac leo commodo, cursus magna nec,
            faucibus augue. Morbi lobortis elit sed ipsum congue mollis. In ac lacus eleifend, fermentum velit sit amet,
            efficitur mauris. Nunc felis tortor, pulvinar sed viverra non, interdum a tortor. Donec malesuada placerat
            diam in pharetra. Vestibulum posuere varius ante non luctus. Proin sit
          </p>
        </div>
        <div class="md:w-1/4 flex justify-center md:justify-end mt-8 md:mt-0">
          <img src="images/sneks/Suey.png" alt="Snek Lammy" class="w-64 h-auto transform -translate-y-12 scale-125">
        </div>
      </div>
    </div>
  </div>
  <!--Snatchk-->
  <div class="dark:bg-gray-800 pt-8 shadow-2xl">
    <div class="container mx-auto dark:bg-gray-800 p-8 flex flex-col md:flex-row items-center rounded-lg">
      <div class="md:w-1/4 flex justify-center md:justify-end pr-4">
        <img src="images/Snatchk.png" alt="Snek ghosta" class=" rounded-3xl w-128 h-128">
      </div>
      <div class="md:w-3/4 self-start">
        <h2 class="text-3xl md:text-4xl font-bold mb-3">I'm <span
            class="text-purple-500 dark:text-violet-500">Snatchk</span>,</h2>
        <p class="text-lg md:text-xl mb-8">
          a friendly Discord bot bringing beeps and boops to the Sneks Mafia Server since August 14, 2022. Originally
          crafted for a school project, my creator liked me so much that he decided to keep me around and take care of
          me ever since.
          I'm a Python project designed to play music on Discord. With me, you can play music from YouTube, manage
          playlists, and interact with me using slash commands. Built using Pycord, I offer a variety of features to
          enhance your music-playing experience on Discord servers.
          I started my journey hosted on a Raspberry Pi, but I’ve since moved to a more powerful server to keep up with
          your musical needs. Curious to know more about me? Click the button below to learn all about my features and
          adventures!
        </p>
        <a
          class="inline-block bg-purple-500 dark:bg-violet-500 text-white py-3 px-6 rounded-lg shadow-xl hover:bg-purple-600 dark:hover:bg-violet-600">Learn
          More</a>
      </div>
    </div>
  </div>
  <!--Ghostworks-->
  <h2 class="pt-8 text-3xl md:text-4xl font-bold text-center">GhostWorks</h2>
  <hr class="w-96 h-1 mx-auto bg-purple-500 dark:bg-violet-500 border-0 rounded md:my-4">
  <div class="container mx-auto px-8 md:px-16 flex flex-col md:flex-row items-center">
    <div class="md:w-2/4">
      <p class="text-lg md:text-xl mb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nisi interdum, rutrum odio auctor, gravida
        ipsum. Sed malesuada libero nisi, a fermentum sem pulvinar vitae. Sed ac leo commodo, cursus magna nec, faucibus
        augue. Morbi lobortis elit sed ipsum congue mollis. In ac lacus eleifend, fermentum velit sit amet, efficitur
        mauris. Nunc felis tortor, pulvinar sed viverra non, interdum a tortor. Donec malesuada placerat diam in
        pharetra. Vestibulum posuere varius ante non luctus. Proin sit amet rhoncus tortor. Proin mauris leo, finibus ac
        leo vitae, semper mattis diam.
      </p>
      <a
          class="inline-block bg-purple-500 dark:bg-violet-500 text-white py-3 px-6 rounded-lg shadow-xl hover:bg-purple-600 dark:hover:bg-violet-600">Learn
          More</a>
    </div>
    <div class="md:w-2/4 flex justify-center md:justify-end mt-8 md:mt-0 shadow-xl">
      <img src="images/GhostWorks.png" alt="GhostWorks" class="w-auto h-auto rounded-md ">
    </div>
  </div>
</div>