.HomeTop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/HomeBackground.jpg');
}

@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows{
  padding-top: 1rem;
  width: 60px;
  cursor: pointer;
}

.arrows path {
  stroke: white;
  fill: transparent;

  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; 
}
  
.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; 
}
  
.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; 
}